<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <p>Merci pour votre message.</p>

    <p>Je vous répondrez dans les plus brefs délais.</p>
    <h1>{{contact.Subject}}</h1>
    <p>{{contact.FirstName}} {{contact.LastName}}</p>
    <p>{{contact.Email}}</p>
    <p>{{contact.Message}}</p>
    </body>
</html>
